{% extends 'Blog/Main/base.html' %}
{% block content %}
<!-- post_list.html -->
<form method="GET">
    {{ form }}
    <button type="submit">Поиск</button>
</form>

{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    {% if 'search_query' in request.GET %}
        <p>По вашему запросу ничего не найдено.</p>
    {% endif %}
{% endif %}
{% endblock %}