{% extends 'Blog/Main/base.html' %}

{% block content %}
    <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" src="{{ post.photo.url }}" width="50%" height="700" alt="Placeholder: Thumbnail">
        <div class="card-body">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
            <h4>Категории:</h4>
            <ul>
                {% for category in post.categories.all %}
                    <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        <div>
    <div>
<div>
    <form action="{% url 'like_post' post.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Лайк</button>
    </form>
    <span><p>Понравилось:{{ post.count_likes }}</p></span>
</div>

<div>
    <form action="{% url 'dislike_post' post.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Дизлайк</button>
    </form>
    <span><p>Не понравилось:{{ post.count_dislikes }}</p></span>
</div>
        </div>
    </div>
{% endblock %}