{% extends 'Blog/Main/base.html' %}

{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ title }}</h1>
            <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p><p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="p-4">
                <h4 class="fst-italic">Категории</h4>
                    <ol class="list-unstyled mb-0">
                {% for category in categories %}
                    <li><a href="{% url 'posts_by_category' category_id=category.id %}" class="btn btn-outline-dark">{{ category.name }}</a></li>
                {% endfor %}
                    </ol>
            </div>
        </div>
    </div>
</section>
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for post in page_obj %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{{ post.photo.url }}" width="100%" height="250" alt="Placeholder: Thumbnail">
            <div class="card-body">
                <h4>{{ post.title }}</h4>
              <p class="card-text">{{ post.content | slice:":100"}}...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-dark" type="button" href="{% url 'post_detail' slug=post.slug %}" >Читать далее..</a>

                </div>
                    <small class="text-body-secondary">{{ post.read_time }} мин</small>
                    <small class="text-body-secondary">{{ post.publish_date }}</small>
                    <small class="text-body-secondary"><a class="btn" type="button" href="{% url 'user_posts'%}" >{{ post.author }}</a></small>

              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
        <nav class="my-3 text-center container"  aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                   <li class="page-item"><a class="btn btn-outline-dark"  href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
                {% endif %}
                    <li class="page-item active" aria-current="page"><span class="btn btn-dark">{{ page_obj.number }}</span></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}